@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  background-color: #040d17;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  color: white;
  height: 100vh;
  color: white;
  display: flex;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: auto;
}

.logoBox {
  padding-top: 10px;
}

.logoBox img {
  margin: auto;
}

.logo {
  margin: 10px;
}

h1 {
  font-size: 50px;
}

.instructions-text {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.author {
  color: white;
}

.author a {
  color: #fffc11;
  text-decoration: underline;
}

.request-form-wrapper {
  width: 500px;
  margin: auto;
  padding-bottom: 200px;
}

.main-btn {
  box-shadow: 0 0 24px #ffeb3b;
  background-color: #ffca00;
  color: #4b3c41;
  border-radius: 100px;
  font-weight: 700;
  transition: background-color 0.9s ease;
}

.main-btn:hover {
  background-color: #ffe400 !important;
  box-shadow: 0 0 34px #ffeb3b !important;
  text-shadow: 0 0 4px #ffffff3d;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.loading-container {
  position: absolute;
  left: 0;
  right: 0;
}

.loading-spinner {
  display: inline-block;
  margin: 30px auto;
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: #ffeb3b;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.input-style {
  border-radius: 40px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-bottom: 10px;
  min-width: 450px;
  height: 46px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  color: black;
}

.input-label {
  color: #ed9f0c;
  margin-bottom: 5px;
  display: flex;
}

.label-style {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.image-box {
  margin: auto;
}

.asset {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 768px) {
  .author {
    font-size: 12px;
  }

  .logoBox img {
    width: 250px;
  }

  .instructions-text {
    margin-top: 5px;
  }

  .input-style {
    min-width: 100%;
  }
}
